{% extends "base.html" %}
{% block title %}Zapisz listę{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="px-1 py-5 text-center rounded-3 bg-success-subtle shadow-lg">
        <img src="../static/images/save_icon.png" alt="Ikona zapisywania" width="150" height="150"
             class="my-3 rounded-4">

        {% if request.method == 'GET' %}
            <!-- A form to enter a list name and save To-Do. -->
            <div class="col-lg-6 col-md-10 mx-auto">
                <form action="{{ url_for('todo_list.save_list') }}" method="post" class="px-4 px-md-5 mt-1 mb-4">
                    <div class="mb-2">
                        <p class="text-body">
                            Możesz wpisać własną nazwę listy, aby zapisać ją w bazie danych.
                        </p>
                        <input type="text"
                               class="form-control"
                               name="new_list_name"
                               placeholder="Twoja nazwa listy"
                               maxlength="250"
                               pattern=".*\S+.*"
                               title="Twoja nazwa listy"
                               required autofocus>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-success">
                        Zapisz listę
                    </button>

                    <!-- A section that allows the user to return to the home screen without saving. -->
                    <hr class="my-4">
                    <p class="text-danger">
                        <strong>UWAGA: Listy nie są chronione hasłem.</strong><br>
                        Upewnij się, że na liście nie znajdują się żadne poufne informacje.
                    </p>
                    <a href="{{ url_for('todo_list.main_page') }}" class="btn btn-sm btn-danger">
                        Wróć bez zapisywania
                    </a>
                </form>
            </div>

        {% else %}
            <!-- Summary with user list name. -->
            <div class="col-lg-6 col-md-10 mx-auto">
                <p class="text-body mb-2">
                    Pełna nazwa Twojej listy to:
                </p>
                <h1 class="d-flex justify-content-center mb-2" style="text-wrap: balance;">
                    {{ name }}
                </h1>
                <p class="text-body mb-2">
                    Aby wczytać swoją listę, zapisz jej nazwę, razem z unikalnym numerem.
                </p>
                <p class="text-body text-decoration-underline">
                    Aby usunąć listę z bazy danych, usuń wszystkie jej elementy.
                </p>
                <a href="{{ url_for('todo_list.main_page') }}" class="w-100 btn btn-lg btn-success">
                    Dalej
                </a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
