{% extends "base.html" %}
{% block title %}Kontakt{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="p-5 text-center rounded-3 bg-success-subtle shadow-lg">
        <img src="../static/images/contactme_img.png" alt="Ikona skontaktuj się ze mną" width="150" height="150"
             class="my-3 rounded-4">
        <h3>Skontaktuj się ze mną</h3>

        <p class="col-lg-8 mx-auto fs-5 my-4">
            Jeśli chcesz się ze mną skontaktować lub zostawić feedback odnośnie mojego kodu (będzie mi bardzo miło!),
            wyślij mi wiadomość na:
            <a class="text-decoration-none" href="https://www.linkedin.com/in/grzegorz-kulesza-2b830b256">
                <img src="/static/images/LI-Logo.png" alt="Logo Linkedin" height="24">
            </a>
            lub na adres e-mail: <strong>kulesza.grzegorz1@gmail.com</strong>.
        </p>
    </div>
</div>

{% endblock %}